<div class="col-sm-3">
  <img class="img-thumbnail" src="https://0.gravatar.com/avatar/{{gravatar_id}}?s=200" width="200" height="200" alt="">

  <h3>{{name}}</h3>

  <ul class="nav nav-pills nav-stacked">
    <li class="active">
      <a href="/gists">
        Gists <span class="badge pull-right">{{public_gists}}</span>
      </a>
    </li>
    <li class="active">
      <a href="/followers">
        Followers <span class="badge pull-right">{{followers}}</span>
      </a>
    </li>
    <li class="active">
      <a href="/following">
        Following <span class="badge pull-right">{{following}}</span>
      </a>
    </li>
  </ul>
</div>
<div class="col-sm-9" id="col9"><div id="map"></div></div>
