<div class="col-sm-3">
  <h3>{{login}}</h3>
  <img class="img-thumbnail" src="{{avatar_url}}" width="285" alt="{{login}}">
  <br></br>
  <ul class="nav nav-pills nav-stacked">
{{!--     <li class="active">
      <a href="/user/{{login}}/gists">
        Gists <span class="badge pull-right">{{public_gists}}</span>
      </a>
    </li> --}}
    <li class="active">
      <a href="/user/{{login}}/followers">
        Followers <span class="badge pull-right">{{followers}}</span>
      </a>
    </li>
  </ul>
</div>
<div class="col-sm-9" id="col9">
  <h3>Location: {{#if location}}{{location}}{{else}}Not available{{/if}}</h3>
  <div id="map" class="img-responsive">{{#if location}}{{else}}
    <img class="img-thumbnail" src="http://placehold.it/750x400" alt="{{login}}">{{/if}}
  </div>
</div>
